@model BookViewModel
@{
    ViewData["Title"] = "Creat";
}

<h1>Creat a Book</h1>

<form method="post" asp-action="creat">

    <div class="container">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Code" class="form-label">Code</label>
                <input type="text" class="form-control" id="Code" asp-for="Code" placeholder="Code">
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="CostPrice" class="form-label">CostPrice</label>
                <input type="text" class="form-control" id="CostPrice" asp-for="CostPrice" placeholder="CostPrice">
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="SalePrice" class="form-label">SalePrice</label>
                <input type="text" class="form-control" id="SalePrice" asp-for="SalePrice" placeholder="SalePrice">
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
        </div>
       
        <div class="mb-3 col-md-3">
            <label asp-for="Desc" class="form-label">Desc</label>
            <textarea style="height:100px; width:300px" class="form-control" id="Desc" asp-for="Desc" placeholder="Desc"></textarea>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div >

        <div class="mb-3 col-md-3" >
                <label asp-for="DiscountPrice" class="form-label">DiscountPrice</label>
                <input type="text" class="form-control" id="DiscountPrice" asp-for="DiscountPrice" placeholder="DiscountPrice">
            <span asp-validation-for="DiscountPrice" class="text-danger"></span>
        </div>

        <div class="form-check">
            <input class="form-check-input" asp-for="IsAviable">
            <label class="form-check-label" asp-for="IsAviable">
                IsAviable
            </label>
            <span asp-validation-for="DiscountPrice" class="text-danger"></span>
      </div>
      <div class="row">

        <div class="mb-3 col-md-3">
                <label asp-for="GenreId" class="form-label">GenreId</label>
                <select class="form-select" asp-for="GenreId" asp-items="@(new SelectList(ViewBag.genres,"Id","Name"))">



            </select>
        </div>
        <div class="mb-3 col-md-3">
                <label asp-for="AuthorId" class="form-label">AuthorId</label>
                <select class="form-select" asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.authors,"Id","FullName"))">

               

            </select>
        </div>
      </div>
    </div>
        <div style="display:flex; align-items:center; justify-content:center">
        <button type="submit" class="btn btn-primary">Create Book</button>
    </div>

</form>



